body {
  margin: 20px;
  background-color: #4f3a4b;
  width: 1000px;
}

.main_title_div {
  width: 100%;
  height: 50px;
  background-color: #e8eef7;
  border-radius: 10px;
}

#title {
  float: left;
  text-align: left;
  margin-right: 450px;
  font-size: 40px;
  margin-left: 10px;
  font-family: arial;
}

#other_title {
  float: left;
  text-align: right;
  font-size: 20px;
  margin-top: 10px;
  font-family: arial;
  margin-right: 10px;
}

.section_title{
  font-size: 20px;
  color: white;
  margin-left: 10px;
  background-color: #a5adba;
}

#about_me_section {
  margin: 20px;
  width: 100%;
}

#photo_of_me{
  float: left;
  margin-right: 100px;
  border: solid;
  padding: 1px;

}

img{
  display: block;
  float: left;
}

#about {
  float: left;
  width: 400px;
  background-color: #a5adba;
}

#about_info {
  background-color: white;
  padding: 5px;
  padding-bottom: 20px
}


.main_content{
  float: left;
  width: 100%;
}

#la_mode, #family_contacts, #fiveEleven {
  float: left;
  width: 300px;
  margin: 10px;
  
  background-color: #a5adba;
}

.content_info, .icons{
  padding: 10px;
  float: left;
  background-color: white;
}

button{
  margin-left: 40px;
  margin-top: 50px;
  border: 1px solid black;
  background-color: #5fd8b0;
  font-size: 15px;
  color: white;
  border-radius: 15px;
 }

 .tech {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  font-family: arial;
 }


