html{
  font-family: helvetica;
  width: 970px;
}

div#top_header{
  height: 50px;
  margin-bottom: 70px;
}

div#top_header>img{
  position: absolute;
  top: 50px;
  width: 100px;
  height: 100px;

}

h1{
  position: absolute;
  left: 120px;
  top: 60px;
  font-size: 40px;  
}

.blue_letters{
  color: #2c59a0;
}

h2 {
  margin-top:50px;
  border: 2px solid black;
  padding: 20px;
  background-color: #2c59a0;
  color: white;
}

#sidebar{
  display: inline-block;
  width: 200px;
}

#sidebar_a>button{
  width: 100%;
}

#sidebar_b{
  margin-top: 20px;
  width: 300px;
  
}

#sidebar_b>p{
  position: absolute;
  text-align: center;
  width: 15%;
  top: 450px;
  left: 30px;
  z-index: 2;
  color: white;
  font-size: 20px;
}
img#blue{
  width: 200px;
  height: 400px;
}

img#ninja{
  width: 90px;
  height: 120px;
  position: absolute;
  text-align: center;
  top: 550px;
  left: 55px;
  z-index: 2;
}

#sidebar_b>button{
  width: 140px;
  height: 30px;
  position: absolute;
  text-align: center;
  top: 700px;
  left: 35px;
  z-index: 2;
}

#top_main{
  display:inline-block;
  vertical-align: top;
  border-bottom: 2px solid black;

}

#toolbar_images{
  display:inline-block;
  vertical-align: top;
  
}
 img#dns{
  height: 20px;
  width: 20px;
  vertical-align: top;
}

 img#phone{
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

#toolbar_images>a{
  text-decoration: none;
  margin-right: 350px;
  vertical-align: top;
}

#hours{
  display: inline-block;
  vertical-align: top;
  margin-top: -25px;
}

#hours>p{
  vertical-align: top;
}

#phone{
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
  color: #38bed8;
}
